# Always ignore
.ssh

# Ignore generated/derived/downloaded stuff
build
elm-stuff
node_modules
README.html
README.pdf

# Ignore other development stuff
tmp

# Ignore IDE/tools stuff
.idea

# Ignore logs
#...
