@charset "utf-8";
$primary-vertical-margin: 1rem;
$primary-horizontal-margin: $primary-vertical-margin / 2;
$text-regular: #333333;
$text-dimmed: #555555;

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

article {
    // Nice when developing
    //border: 2px dotted black;
    font-family: Tahoma, sans-serif;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    //height: 90vh; // Not 100 due to special mobile viewport overlays
    height: 100vh; // Has to be due to background color
}

header > {
    div {
        margin-top: $primary-vertical-margin;
        margin-right: $primary-horizontal-margin;
        margin-left: $primary-horizontal-margin;
    }
}

section > {
    div {
        display: flex;
        flex-wrap: no-wrap;
        justify-content: space-between;
    }
}

footer > {
    div {
        display: flex;
        justify-content: space-between;
        font-style: italic;
        color: $text-dimmed;
        margin-bottom: $primary-vertical-margin;
        margin-right: $primary-horizontal-margin;
        margin-left: $primary-horizontal-margin;
    }
}

.title {
    font-size: xx-large;
    color: $text-regular;
}

.edition {
    font-size: large;
    color: $text-dimmed;
}

.warning {
    font-weight: bold;
    color: orange;
}

.watermark {
    display: flex;
    justify-content: center;
    font-size: 5rem;
    color: green;
    opacity: 0.08;
    z-index: 99;
    transform: rotate(-30deg);
}

.background-color-picker {
    position: absolute;
    top: 6rem;
    right: $primary-horizontal-margin;
    display: flex;
    flex-direction: column;
}

.background-color-button {
    cursor: pointer;
    border: 1px solid $text-dimmed;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 2rem;
    margin-bottom: 0.8rem;
}
